* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}   /* Reglas a todos los elemntos */

/* Para que esté centrada la barra de navegación */
html {
    overflow-y: scroll;
} 


:root {
    --bg-color: #ffffff;
    --text-color: #221314;
    --second-color: #6e54fa;
    --primary-light: #74a84a;
    --primary-dark: #2c541d;
    --first-green:#7fc142;
    --second-green: #008000B3;
    --big-font: 6.5rem;
    --h1-font: 4rem;
    --h2-font: 3rem;
    --h3-font:2rem;
    --h4-font:1.5rem;
    --p-font: 1.1rem;
    --shadow-light: rgba(0, 0, 0, 0.1) 0px 10px 20px, rgba(0, 0, 0, 0.2) 0px 6px 6px;
    --grey:#555;
}   /* Tamaños y colores que se van a ir utilizando */

    /*Cabecera*/
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
}

.logo {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--text-color);
    
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    padding: 10px 22px;
    border-radius: 4px;
}

.navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--bg-color);
}

section {
    padding: 80px 18%;
}



header.sticky {
    background-color: var(--bg-color);
    padding: 10px 18%;
    box-shadow: var(--shadow-light);
}
.contenedor_principal {
    max-width: 1200px;
    margin: auto;
    padding: 0 8px;
}/*Footer*/
footer {
    background-color: var(--primary-dark);
    background-image: url(../img/hoja2.png);
    padding: 40px 0;
    color: #ffffff;
    font-family: 'Finger Paint', sans-serif;
    border-top: 200px white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    z-index: 10000;
}

footer h1 {
    font-size: 28px;
    color: #ffffff;
    margin: 10px 0;
}

footer p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

footer .social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

footer .social-media a {
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer .social-media a:hover {
    transform: scale(1.1);
}

footer .social-media a img {
    width: 30px;
    height: 30px;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

footer .footer-links a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .footer-links a:hover {
    color: var(--primary-light)
}

footer .bottom-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

footer .bottom-info div {
    flex: 1;
    margin: 10px;
}

footer .bottom-info div a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}

footer .bottom-info div a:hover {
    color: var(--primary-light)
}

footer .bottom-info .contact {
    text-align: right;
}

footer .bottom-info .address {
    text-align: left;
}

/*Inicio Footer*/



/* Media query para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
    header {
        padding: 20px 5%; 
    }

    .navbar {
        flex-direction: column; 
        align-items: center; 
    }

    .inicio-text h1 {
        font-size: 3rem; 
    }

    .inicio-text p {
        font-size: 16px; 
    }

    .container-box {
        width: 100%; 
    }
}

/* Media query para pantallas de hasta 480px de ancho */
@media screen and (max-width: 480px) {
    header {
        padding: 20px 5%; 
    }

    .logo {
        font-size: 24px; 
    }

    .navbar a {
        padding: 10px 15px; 
    }

    .inicio-text h1 {
        font-size: 2.5rem; 
    }

    .inicio-text p {
        font-size: 14px; 
        margin-bottom: 30px; 
    }

    .container-box {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    footer {
        padding: 30px 10px;
        text-align: center;
    }

    footer .social-media {
        flex-direction: column;
    }

    footer .footer-links {
        flex-direction: column;
        align-items: center;
    }

    footer .bottom-info {
        flex-direction: column;
        align-items: center;
    }

    footer .bottom-info div {
        margin: 10px 0;
    }
}